* {
    padding:0;
    margin:0;
}
html, body{
    position:relative;
    width:100%;
    height:100%;
    overflow:none;
}
body{
    background-color:#666666;
    margin:0;
    text-align:center;
}

div.btn, ul li a.btn {
    cursor:pointer;
    display:inline-block;
    padding:0.5em;
    background-color:#FFFBF0; /* good ol' tooltip */
    border:1px solid #888888;
    margin: 10 auto 0 auto;
    border-radius:5px;
}

/* animations */

$animationfillmode: forwards;
$animationdirection: normal;

@mixin animation($shard) {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-fill-mode: $animationfillmode;
    -webkit-animation-fill-mode: $animationfillmode;
    animation-direction: $animationdirection;
    -webkit-animation-direction: $animationdirection;
    animation-name: $shard;
    -webkit-animation-name: $shard;
}

@keyframes shard1 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 10% 35%, 25% 25%, 25% 35% ); /* 1 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 60% 30%, 75% 40%, 65% 25% ); /* 2 */
    }
}
@keyframes shard2 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 25%, 25% 35%, 35% 25% ); /* 4 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 75% 40%, 85% 40%, 75% 45% ); /* 6 */
    }
}
@keyframes shard3 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 35% 50%, 25% 55%, 25% 45% ); /* 8 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 65% 25%, 80% 25%, 75% 40% ); /* 3 */
    }
}
@keyframes shard4 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 65%, 35% 65%, 25% 75% ); /* 13 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 80% 25%, 75% 40%, 85% 30% ); /* 4 */
    }
}
@keyframes shard5 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 35%, 35% 25%, 35% 35% ); /* 5 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 60% 60%, 75% 60%, 85% 50% ); /* 9 */
    }
}
@keyframes shard6 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 75%, 35% 65%, 35% 75% ); /* 14 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 75% 45%, 85% 40%, 85% 50% ); /* 7 */
    }
}
@keyframes shard7 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 35%, 35% 50%, 35% 35% ); /* 6 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 65% 75%, 60% 70%, 75% 60% ); /* 11 */
    }
}
@keyframes shard8 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 35%, 25% 45%, 35% 50% ); /* 7 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 60% 30%, 75% 40%, 60% 40% ); /* 1 */
    }
}
@keyframes shard9 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 10% 35%, 25% 35%, 10% 40% ); /* 2 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 75% 60%, 80% 75%, 85% 70% ); /* 13 */
    }
}
@keyframes shard10 {
    from {
        background-color: red;
        -webkit-clip-path: polygon(10% 40%, 25% 35%, 25% 40% ); /* 3 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 80% 75%, 75% 60%, 65% 75% ); /* 12 */
    }
}
@keyframes shard11 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 60%, 35% 65%, 25% 65% ); /* 12 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 75% 40%, 85% 30%, 85% 40% ); /* 5 */
    }
}
@keyframes shard12 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 55%, 35% 50%, 25% 60% ); /* 9 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 75% 60%, 85% 60%, 85% 70% ); /* 14 */
    }
}
@keyframes shard13 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 60%, 35% 50%, 35% 60% ); /* 10 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 60% 60%, 75% 45%, 85% 50% ); /* 8 */
    }
}
@keyframes shard14 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 25% 60%, 35% 60%, 35% 65% ); /* 11 */
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 60% 60%, 60% 70%, 75% 60% ); /* 10 */
    }
}

#shards{

    position:relative;
    height:100%;
    width:100%;

    .shard{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .shard-1 {
        background-color: red;
        -webkit-clip-path: polygon( 10% 35%, 25% 25%, 25% 35% ); /* 1 */
    }
    .shard-1.animated {
        @include animation(shard1);
    }
    .shard-2 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 25%, 25% 35%, 35% 25% ); /* 4 */
    }
    .shard-2.animated {
        @include animation(shard2);
    }
    .shard-3 {
        background-color: red;
        -webkit-clip-path: polygon( 35% 50%, 25% 55%, 25% 45% ); /* 8 */
    }
    .shard-3.animated {
        @include animation(shard3);
    }
    .shard-4 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 65%, 35% 65%, 25% 75% ); /* 13 */
    }
    .shard-4.animated {
        @include animation(shard4);
    }
    .shard-5 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 35%, 35% 25%, 35% 35% ); /* 5 */
    }
    .shard-5.animated {
        @include animation(shard5);
    }
    .shard-6 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 75%, 35% 65%, 35% 75% ); /* 14 */
    }
    .shard-6.animated {
        @include animation(shard6);
    }
    .shard-7 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 35%, 35% 50%, 35% 35% ); /* 6 */
    }
    .shard-7.animated {
        @include animation(shard7);
    }
    .shard-8 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 35%, 25% 45%, 35% 50% ); /* 7 */
    }
    .shard-8.animated {
        @include animation(shard8);
    }
    .shard-9 {
        background-color: red;
        -webkit-clip-path: polygon( 10% 35%, 25% 35%, 10% 40% ); /* 2 */
    }
    .shard-9.animated {
        @include animation(shard9);
    }
    .shard-10 {
        background-color: red;
        -webkit-clip-path: polygon(10% 40%, 25% 35%, 25% 40% ); /* 3 */
    }
    .shard-10.animated {
        @include animation(shard10);
    }
    .shard-11 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 60%, 35% 65%, 25% 65% ); /* 12 */
    }
    .shard-11.animated {
        @include animation(shard11);
    }
    .shard-12 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 55%, 35% 50%, 25% 60% ); /* 9 */
    }
    .shard-12.animated {
        @include animation(shard12);
    }
    .shard-13 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 60%, 35% 50%, 35% 60% ); /* 10 */
    }
    .shard-13.animated {
        @include animation(shard13);
    }
    .shard-14 {
        background-color: red;
        -webkit-clip-path: polygon( 25% 60%, 35% 60%, 35% 65% ); /* 11 */
    }
    .shard-14.animated {
        @include animation(shard14);
    }

}
