* {
  padding: 0;
  margin: 0; }

html, body {
  position: relative;
  width: 100%;
  height: 100%; }

body {
  background-color: #666666;
  margin: 0;
  text-align: center; }

div.btn, ul li a.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  background-color: #FFFBF0;
  /* good ol' tooltip */
  border: 1px solid #888888;
  margin: 10 auto 0 auto;
  border-radius: 5px; }

/* animations */
/*
@keyframes shard1 {
    from {
        background-color: red;
        -webkit-clip-path: polygon( 10% 35%, 25% 25%, 25% 35% );
    }
    to {
        background-color: yellow;
        -webkit-clip-path: polygon( 60% 30%, 75% 40%, 65% 25% );
    }
}
*/
#shards {
  position: relative;
  height: 100%;
  width: 100%; }
  #shards .shard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black; }
